.text-large {
  font-size: 10vh;
}

.text-splash-title {
  font-size: 2.5vh;
}

.text-splash-subtitle {
  font-size: 2vh;
}

.text-title {
  transform: translateY(-25vh);
}

.modal-shift {
  transform: translateY(25vh);
}

.this-is-hidden {
  display: none;
}


.menu {
  font-size: 1rem;
}

.menu.is-small {
  font-size: 0.75rem;
}

.menu.is-medium {
  font-size: 1.25rem;
}

.menu.is-large {
  font-size: 1.5rem;
}

.menu-list {
  line-height: 1.25;
}

.menu-list a {
  border-radius: 2px;
  color: hsl(141, 71%, 48%);
  display: block;
  padding: 0.5em 0.75em;
}

.menu-list a:hover {
  background-color:  #d2f9de;
  color: #222222;
}

.menu-list a.is-active {
  background-color: hsl(141, 71%, 48%);
  color: #fff;
}

.menu-list li ul {
  color: hsl(141, 71%, 48%);
  margin: 0.75em;
  padding-left: 0.75em;
}

.menu-label {
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: hsl(141, 71%, 48%);
}

.menu-label:not(:first-child) {
  margin-top: 1em;
}

.menu-label:not(:last-child) {
  margin-bottom: 1em;
}

