extends layout

block content
            
    section.hero.is-success.is-bold.is-fullheight
        div.hero-body
            div.container
                h1.title.has-text-centered.text-large.text-title foodApp
                h1.title.has-text-centered.text-splash-title Welcome, #this.credentials.username
                    button.button.is-success.is-loading.is-large.is-fullwidth




