extends layout

block content
    section.hero.is-success.is-bold
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column.is-one-quarter
            aside.menu
            p.menu-label Browse Our Database
            ul.menu-list
                li 
                    a Premade Food
                li 
                    a Recipes
                li 
                    a Browse Everything
            p.menu-label Calculate Your Nutrition
            ul.menu-list
                li
                    a Calculator
            p.menu-label User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            p.menu-label Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe
        
        div.column
        
            article.message.is-success
                .message-body
                    | Welcome, please navigate using the sidebar, 
                    strong Database is still in constructiom
                    | , we are adding new things everyday, and even allow registered users to submit their own recipes, 
                    a for free.
                    |  So, if you have not already please take the time to register an account,
                    em it couldn't be easier
                    | , and we would love to have more users


            div.this-is-hidden
            .control.has-icons-left.is-large#searchController
                input.input.is-large.is-fullwidth#searchBar(type='search', placeholder='Search for Items')
                span.icon.is-medium.is-left
                    i.fas.fa-search


    script(src="/javascripts/search.js")

