extends layout

block content
    section.hero.is-success.is-bold
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column
            aside.menu
            p.menu-label Browse Our Database
            ul.menu-list
                li 
                    a Premade Food
                li 
                    a Recipes
                li 
                    a Browse Everything
            p.menu-label Calculate Your Nutrition
            ul.menu-list
                li
                    a Calculator
            p.menu-label User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            p.menu-label Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe
        
        div.column
            .tile.is-ancestor
                .tile.is-vertical.is-4
                    .tile
                    .tile.is-parent.is-vertical
                        article.tile.is-child.notification.is-primary
                        p.title Vertical...
                        p.subtitle Top tile
                        article.tile.is-child.notification.is-warning
                        p.title ...tiles
                        p.subtitle Bottom tile
                    .tile.is-parent
                        article.tile.is-child.notification.is-info
                        p.title Middle tile
                        p.subtitle With an image
                        figure.image.is-4by3
                            img(src='https://bulma.io/images/placeholders/640x480.png')
                    .tile.is-parent
                    article.tile.is-child.notification.is-danger
                        p.title Wide tile
                        p.subtitle Aligned with the right tile
                        .content
                        // Content
                .tile.is-parent
                    article.tile.is-child.notification.is-success
                    .content
                        p.title Tall tile
                        p.subtitle With even more content
                        .content
                        // Content

