extends layout

block content
    section.hero.is-success.is-bold
        div.hero-body
            div.container
            h1.title Welcome, #{params.user}


    div.columns
        div.column
            aside.menu
            p.menu-label Browse Our Database
            ul.menu-list
                li 
                    a Premade Food
                li 
                    a Recipes
                li 
                    a Browse Everything
            p.menu-label Calculate Your Nutrition
            ul.menu-list
                li
                    a Calculator
            p.menu-label User Info
            ul.menu-list
                li
                    a My Profile
                    ul
                        li
                            a Foods I Like
                        li
                            a Foods I Love
            p.menu-label Contribute to Our Database
            ul.menu-list
                li
                    a Submit a Premade Food
                li
                    a Submit a New Recipe
        
        div.column
            br
            .control.has-icons-left.is-large#searchController
                input.input.is-large.is-fullwidth(type='search', placeholder='Search for Items')
                span.icon.is-medium.is-left
                    i.fas.fa-search


