extends layout

block content
    div.modal#modal
        div.modal-background
            div.modal-content
            div.modal-card
                header.modal-card-head
                    p.modal-card-title Modal title
                    button.delete(onclick='CloseModal()')
                section.modal-card-body
                <!-- Content ... -->
                footer.modal-card-foot
                    button.button.is-success Save changes
                    button.button Cancel
            
    section.hero.is-success.is-bold.is-fullheight
        div.hero-body
            div.container
                h1.title.has-text-centered.text-large.text-title foodApp
                h1.title.has-text-centered.text-splash-title
                    a(onclick='OpenModal()') Register Now
                
                h2.subtitle.has-text-centered.text-splash-subtitle
                    a(href="/home") Continue as Guest

    script(src="/javascripts/modal.js")


