extends layout

block content

    section.hero.is-primary
        div.hero-body
            div.container
            h1.title Primary title
            h2.subtitle Primary subtitle

    div.columns
        div.column 1
        div.column 2
        div.column 3
        div.column 4
        div.column 5
        div.column 6

    button(onclick='SendData()') Click

    script(src="/javascripts/apiBridge.js")


